@using DntSite.Web.Features.PrivateMessages.Models
<LayoutView Layout="@typeof(EmailsLayout)">
    <br/>
    <div dir="rtl" style="font-family: Tahoma;">
        درود!
        <br/>
        <b>تولدتان مبارک.</b>
        <br/>
        آرزوی ما بهروزی و پیروزی شما در تمام مراحل زندگی می‌باشد.
        <br/>
        <br/>
        <p align="center">
            <img src="@(Model.SiteRootUri)images/birthday.jpg" alt="bdate"/>
        </p>
    </div>
</LayoutView>

@code {

    [Parameter] public BirthdayModel Model { set; get; } = null!;

}
