@using DntSite.Web.Features.PrivateMessages.Models
<LayoutView Layout="@typeof(EmailsLayout)">
    <br/>
    <div dir="rtl" style="font-family: Tahoma; ">
        درود!
        <br/>
        بهار یک نقطه دارد. نقطه‌ی آغاز بهار زندگیتان بی‌انتها باد.
        <br/>
        <b>سال نو مبارک.</b>
        <br/>
        آرزوی ما بهروزی و پیروزی شما در تمام مراحل زندگی می‌باشد.
        <br/>
        <br/>
        <p align="center">
            <img src="@(Model.SiteRootUri)images/newyear.jpg" alt="new year"/>
        </p>
    </div>
</LayoutView>

@code {

    [Parameter] public NewPersianYearModel Model { set; get; } = null!;

}
