<DntMessageBox IsVisible="true" Type="AlertType.Info">
    <ul>
        <li>
            با ایجاد یک مسیر آموزشی جدید می‌توانید مطالب پراکنده‌ی سایت را در قالب موضوعی خاص نظم بخشیده و نوآموزان را جهت یافتن یک مسیر و راه ذهنی صحیح جهت یادگیری مطلبی، راهنمایی نمائید.
        </li>
        <li>
            لینک‌های نقشه‌های راه صرفا باید از مقالات سایت جاری تهیه شوند. همچنین نیاز است، ترتیب و نظم درستی نیز داشته باشند. هدف نشان دادن راه مطالعه است؛ نه لیست کردن یک سری لینک پراکنده‌ی بدون ترتیب خواندن.
        </li>
        <li>لطفا مطالبی را که به سادگی از طریق برچسب‌ها و گروه بندی متداول سایت قابل پیگیری هستند، تبدیل به یک مسیر راه جدید ننمائید. هدف نظم بخشیدن به مطالب پراکنده و معرفی روش مطالعه‌ی آن‌ها است.</li>
    </ul>
</DntMessageBox>
