@if (IsQuestionAnswered)
{
    <span class="badge bg-success ms-2">
        <i class="@DntBootstrapIcons.BiCheckCircle me-1"></i>
        وضعیت: پاسخ داده شده
    </span>
}
else
{
    <span class="badge bg-warning ms-2">
        <i class="@DntBootstrapIcons.BiClipboard me-1"></i>
        وضعیت: بدون پاسخ پذیرفته شده
    </span>
}
