<DntMessageBox IsVisible="true" Type="AlertType.Info">
    <ul>
        <li>لطفا از ارسال لینک‌های <a target="_blank" href="https://en.wikipedia.org/wiki/Warez">وارز</a> خودداری نمائید.</li>
        <li>لطفا از ارائه لینک‌هایی که خودشان کار معرفی و هدایت به سایت اصلی را انجام می‌دهند، خودداری کنید(Double redirect). لطفا لینک اصلی را در اینجا ارسال نمائید.</li>
        <li>نیازی به ارسال تصویر نیست. تصویر سایت ارسالی به صورت خودکار تولید خواهد شد.</li>
        <li>
            اگر نیاز به تایپ بیش از یک گروه وجود دارد، پس از ورود مورد اول، یکی از دکمه‌های
            Tab/Enter/Comma را فشار دهید.
        </li>
        <li>
            جهت سهولت ارسال لینک‌ها تنها کافی است آدرس زیر را به نوار ابزار bookmarks مرورگر
            خود اضافه کنید. از این پس با مراجعه به هر صفحه‌ای تنها کافی است بر روی این دکمه
            جدید اضافه شده به نوار ابزار کلیک نمائید تا فیلدهای عنوان و آدرس فرم فوق به صورت
            خودکار تکمیل شوند.
            <br/>
            <div class="row mt-2" dir="ltr">
                <input name="send-to-dnt" value="@SendLinkUrl.HtmlRaw()" class="form-control"/>
            </div>
        </li>
    </ul>
</DntMessageBox>
