<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <location path="." inheritInChildApplications="false">
        <system.webServer>
            <handlers>
                <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
            </handlers>
            <aspNetCore requestTimeout="00:20:00" hostingModel="InProcess" processPath="%LAUNCHER_PATH%"
                        arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout"
                        forwardWindowsAuthToken="false"/>
            <httpErrors errorMode="DetailedLocalOnly" existingResponse="PassThrough"/>
            <httpProtocol>
                <customHeaders>
                    <add name="X-Frame-Options" value="SAMEORIGIN"/>
                    <remove name="X-Powered-By"/>
                    <remove name="X-UA-Compatible"/>
                    <add name="X-UA-Compatible" value="IE=Edge,chrome=1"/>
                </customHeaders>
            </httpProtocol>

            <rewrite>
                <outboundRules rewriteBeforeCache="true">
                    <rule name="Add Vary Accept-Encoding" preCondition="PreCompressedFile" enabled="true">
                        <match serverVariable="RESPONSE_Vary" pattern=".*"/>
                        <action type="Rewrite" value="Accept-Encoding"/>
                    </rule>
                    <rule name="Add Encoding Brotli" preCondition="PreCompressedBrotli" enabled="true"
                          stopProcessing="true">
                        <match serverVariable="RESPONSE_Content_Encoding" pattern=".*"/>
                        <action type="Rewrite" value="br"/>
                    </rule>
                    <rule name="Add Encoding Gzip" preCondition="PreCompressedGzip" enabled="true"
                          stopProcessing="true">
                        <match serverVariable="RESPONSE_Content_Encoding" pattern=".*"/>
                        <action type="Rewrite" value="gzip"/>
                    </rule>
                    <preConditions>
                        <preCondition name="PreCompressedFile">
                            <add input="{HTTP_URL}" pattern="\.(gz|br)$"/>
                        </preCondition>
                        <preCondition name="PreCompressedBrotli">
                            <add input="{HTTP_URL}" pattern="\.br$"/>
                        </preCondition>
                        <preCondition name="PreCompressedGzip">
                            <add input="{HTTP_URL}" pattern="\.gz$"/>
                        </preCondition>
                    </preConditions>
                </outboundRules>
                <rules>
                    <!--<rule name="Serve subdir">
                      <match url=".*" />
                      <action type="Rewrite" url="wwwroot\{R:0}" />
                    </rule>-->
                    <rule name="Rewrite brotli file" stopProcessing="true">
                        <match url="(.*)"/>
                        <conditions>
                            <add input="{HTTP_ACCEPT_ENCODING}" pattern="br"/>
                            <add input="{REQUEST_FILENAME}"
                                 pattern="\.(js|dat|dll|json|wasm|blat|htm|html|css|ico|svg)$"/>
                            <add input="{REQUEST_FILENAME}.br" matchType="IsFile"/>
                        </conditions>
                        <action type="Rewrite" url="{R:1}.br"/>
                    </rule>
                    <rule name="Rewrite gzip file" stopProcessing="true">
                        <match url="(.*)"/>
                        <conditions>
                            <add input="{HTTP_ACCEPT_ENCODING}" pattern="gzip"/>
                            <add input="{REQUEST_FILENAME}"
                                 pattern="\.(js|dat|dll|json|wasm|blat|htm|html|css|ico|svg)$"/>
                            <add input="{REQUEST_FILENAME}.gz" matchType="IsFile"/>
                        </conditions>
                        <action type="Rewrite" url="{R:1}.gz"/>
                    </rule>
                    <!--<rule name="SPA fallback routing" stopProcessing="true">
                      <match url=".*" />
                      <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                      </conditions>
                      <action type="Rewrite" url="wwwroot\" />
                    </rule>-->
                </rules>
            </rewrite>

            <staticContent>
                <!-- Set expire headers to 30 days for static content-->
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00"/>
                <!--Correct mime types-->
                <remove fileExtension=".dll"/>
                <remove fileExtension=".json"/>
                <remove fileExtension=".woff"/>
                <remove fileExtension=".woff2"/>
                <mimeMap fileExtension=".json" mimeType="application/json"/>
                <mimeMap fileExtension=".woff" mimeType="font/woff"/>
                <mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
                <mimeMap fileExtension=".dat" mimeType="application/octet-stream"/>
                <mimeMap fileExtension=".dll" mimeType="application/octet-stream"/>
                <mimeMap fileExtension=".wasm" mimeType="application/wasm"/>
                <mimeMap fileExtension=".blat" mimeType="application/octet-stream"/>
                <mimeMap fileExtension=".js.gz" mimeType="application/javascript"/>
                <mimeMap fileExtension=".dat.gz" mimeType="application/octet-stream"/>
                <mimeMap fileExtension=".dll.gz" mimeType="application/octet-stream"/>
                <mimeMap fileExtension=".json.gz" mimeType="application/json"/>
                <mimeMap fileExtension=".wasm.gz" mimeType="application/wasm"/>
                <mimeMap fileExtension=".blat.gz" mimeType="application/octet-stream"/>
                <mimeMap fileExtension=".html.gz" mimeType="text/html"/>
                <mimeMap fileExtension=".css.gz" mimeType="text/css"/>
                <mimeMap fileExtension=".ico.gz" mimeType="image/x-icon"/>
                <mimeMap fileExtension=".svg.gz" mimeType="image/svg+xml"/>
                <mimeMap fileExtension=".js.br" mimeType="application/javascript"/>
                <mimeMap fileExtension=".dat.br" mimeType="application/octet-stream"/>
                <mimeMap fileExtension=".dll.br" mimeType="application/octet-stream"/>
                <mimeMap fileExtension=".json.br" mimeType="application/json"/>
                <mimeMap fileExtension=".wasm.br" mimeType="application/wasm"/>
                <mimeMap fileExtension=".blat.br" mimeType="application/octet-stream"/>
                <mimeMap fileExtension=".html.br" mimeType="text/html"/>
                <mimeMap fileExtension=".css.br" mimeType="text/css"/>
                <mimeMap fileExtension=".ico.br" mimeType="image/x-icon"/>
                <mimeMap fileExtension=".svg.br" mimeType="image/svg+xml"/>
                <mimeMap fileExtension="." mimeType="text/json"/>
            </staticContent>

            <!--<serverRuntime frequentHitThreshold="1" frequentHitTimePeriod="10:00:00" />-->
            <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files"
                             minFileSizeForComp="1024">
                <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9"/>
                <dynamicTypes>
                    <add mimeType="text/*" enabled="true"/>
                    <add mimeType="message/*" enabled="true"/>
                    <add mimeType="application/x-javascript" enabled="true"/>
                    <add mimeType="application/javascript" enabled="true"/>
                    <add mimeType="application/json" enabled="true"/>
                    <add mimeType="application/json; charset=utf-8" enabled="true"/>
                    <add mimeType="application/atom+xml" enabled="true"/>
                    <add mimeType="application/xaml+xml" enabled="true"/>
                    <add mimeType="*/*" enabled="false"/>
                </dynamicTypes>
                <staticTypes>
                    <add mimeType="text/*" enabled="true"/>
                    <add mimeType="message/*" enabled="true"/>
                    <add mimeType="application/x-javascript" enabled="true"/>
                    <add mimeType="application/javascript" enabled="true"/>
                    <add mimeType="application/json" enabled="true"/>
                    <add mimeType="application/json; charset=utf-8" enabled="true"/>
                    <add mimeType="application/atom+xml" enabled="true"/>
                    <add mimeType="application/xaml+xml" enabled="true"/>
                    <add mimeType="*/*" enabled="false"/>
                </staticTypes>
            </httpCompression>
            <urlCompression doStaticCompression="true" doDynamicCompression="true"/>

            <security>
                <requestFiltering>
                    <!-- This will handle requests up to 2GB -->
                    <requestLimits maxAllowedContentLength="2147483647"/>
                </requestFiltering>
            </security>
        </system.webServer>
    </location>
</configuration>