@using DntSite.Web.Features.Posts.Models
<LayoutView Layout="@typeof(EmailsLayout)">
    با سلام
    <br/>
    پیش نویس ارسالی شما به یک <a href="@PostUrl">نظر تکمیلی جدید</a> تبدیل گشت.
</LayoutView>

@code {

    [Parameter] public ConvertedToReplyModel Model { set; get; } = null!;

    private string PostUrl => Model.SiteRootUri.CombineUrl(PostsRoutingConstants.PostBase, escapeRelativeUrl: false).CombineUrl(Model.PostId, escapeRelativeUrl: true);

}
