@using DntSite.Web.Features.Posts.Models
<LayoutView Layout="@typeof(EmailsLayout)">
    با سلام
    <br/><br/>
    مطلب تبدیل شده جدید ذیل به سایت اضافه شده است:
    <br/><br/>
    <div dir="rtl" style="font-family: Tahoma; ">
        <strong>عنوان :</strong><br/>
		<a href="@PostUrl">@Model.Source</a>
        <br/><br/>
        <strong>مطلب :</strong><br/>
        @Model.Dest.HtmlRaw()
        <br/>
        <br/>
    </div>
</LayoutView>

@code {

    [Parameter] public NewConvertedBlogPostModel Model { set; get; } = null!;
    private string PostUrl => Model.SiteRootUri.CombineUrl(PostsRoutingConstants.PostBase, escapeRelativeUrl: false).CombineUrl(Model.PostId, escapeRelativeUrl: true);
}
