@using DntSite.Web.Features.Posts.Models
<LayoutView Layout="@typeof(EmailsLayout)">
    با سلام
    <br/>
    پیش نویس ذیل «حذف» شده‌است:
    <br/>
    <br/>
    <div align="right" dir="rtl" style="font-family: Tahoma; ">
        <strong>عنوان</strong>: @Model.Title
        <br/>
        <strong>مطلب</strong>: @Model.Body.HtmlRaw()
        <br/>
        <strong>وضعیت</strong>: @Model.IsReady
        <br/>
    </div>
</LayoutView>

@code {

    [Parameter] public NewDraftEmailModel Model { set; get; } = null!;

}
