<DntMessageBox Type="AlertType.Info" IsVisible="true">
    <span class="@DntBootstrapIcons.BiPeople ms-2 me-1"></span>
    تعداد کل کاربران آنلاین (منجمله مهمان‌ها و خزنده‌ها) در طی پنج دقیقه قبل،
    <DntToPersianNumbers Value="OnlineVisitorsService.TotalOnlineVisitorsCount"/>
    مورد است که در بین آن‌ها
    <DntToPersianNumbers Value="OnlineVisitorsService.OnlineSpidersCount"/>
    عدد خزنده هستند.
</DntMessageBox>
