@font-face {
    font-family: Samim;
    src: url("/fonts/Samim.eot");
    src: url("/fonts/Samim.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Samim.woff2") format("woff2"),
    url("/fonts/Samim.woff") format("woff"),
    url("/fonts/Samim.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: Samim;
    src: url('/fonts/Samim-Bold.eot');
    src: url('/fonts/Samim-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Samim-Bold.woff2') format('woff2'),
    url('/fonts/Samim-Bold.woff') format('woff'),
    url('/fonts/Samim-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: JetBrainsMono;
    src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2"),
    url("/fonts/JetBrainsMono-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: JetBrainsMono;
    src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2'),
    url('/fonts/JetBrainsMono-Bold.ttf') format('truetype');
    font-weight: bold;
}

html, body {
    font-family: 'Samim', Tahoma;
}

.h1, h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1.5rem;
}

.h2, h2 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 1.5rem;
}

.h3, h3 {
    font-size: 1.10rem;
    font-weight: bold;
    margin-top: 1.5rem;
}

.h4, h4 {
    font-size: 0.95rem;
    font-weight: bold;
    margin-top: 1.20rem;
}

.h5, h5 {
    font-size: 0.75rem;
    font-weight: bold;
    margin-top: 1.20rem;
}

a {
    --bs-link-underline-opacity: 0;
    text-decoration-color: rgba(var(--bs-link-color-rgb), var(--bs-link-underline-opacity, 1)) !important;
    -webkit-text-decoration-color: rgba(var(--bs-link-color-rgb), var(--bs-link-underline-opacity, 1)) !important;
    text-underline-offset: 0.25em !important;
}

a:hover {
    --bs-link-underline-opacity: 0.75;
}

label {
    font-weight: bold;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

.blazor-error-boundary::after {
    content: "An error has occurred."
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.ql-container {
    font-family: 'Samim', Tahoma !important;
    font-size: inherit !important;
}

.ql-code-block-container {
    direction: ltr !important;
}

.ql-direction-ltr {
    direction: ltr !important;
}

.ql-align-left {
    text-align: left !important;
}

/*.ql-editor p, .ql-editor h1, .ql-editor h2, .ql-editor h3, .ql-editor h4, .ql-editor h5, .ql-editor h6 {
    text-align: right !important;
    direction: rtl !important;
}*/

.hljs {
    border-radius: 4px;
}

pre, code {
    font-family: 'JetBrainsMono', 'Samim'  !important;
    font-size: 0.9rem !important;
    white-space: pre-wrap;
    overflow: auto;
    word-break: break-word;
    direction: ltr;
    text-align: left;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

img {
    border: 0 none;
    max-width: 100%;
    vertical-align: middle;
}

.img-thumbnail {
    height: revert-layer !important;
}

/*----------------https://www.readability.com/developers/guidelines----------------------*/
.entry-content {
}

.hentry {
}

.entry-title {
}

.entry-header {
}

.byline {
}

.author {
}

.updated {
}

.main {

}

/*----------------https://www.readability.com/developers/guidelines----------------------*/


a.post-tag {
    background-color: #71777b;
    color: #f7f7f7;
    line-height: 2.4;
    margin: 0 2px;
    padding: 3px 4px;
    text-decoration: none;
    transition: color 0.15s ease 0s, background 0.15s ease 0s, border 0.15s ease 0s;
}

a.post-tag:hover {
    background: #56636c none repeat scroll 0 0;
    color: #f7f7f7;
    text-decoration: none;
}

.is-submitting {
}

.dropdown-menu {
    overflow: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 150px);
}
