@using DntSite.Web.Features.Surveys.Models
<LayoutView Layout="@typeof(EmailsLayout)">
    با سلام
    <br/>
    نظرسنجی جدید ذیل «
    <a href="@PostUrl">
        @Model.Title
    </a>» ارسال/ویرایش گردیده است:
    <br/>
    <br/>
    <div align="right" dir="rtl" style="font-family: Tahoma; ">
        <strong>گزینه‌ها</strong>:
        <br/>
        @Model.Options.HtmlRaw()
        <br/>
        <br/>
    </div>
</LayoutView>

@code {

    [Parameter] public VoteEmailModel Model { set; get; } = null!;

    private string PostUrl => Model.SiteRootUri.CombineUrl(SurveysRoutingConstants.SurveysArchiveDetailsBase, escapeRelativeUrl: false).CombineUrl(Model.PmId, escapeRelativeUrl: true);

}
