<DntMessageBox IsVisible="true" Type="AlertType.Info">
    لطفا اگر قصد دارید آگهی استخدامی را ارسال کنید، موارد ذیل را مدنظر داشته باشید:
    <br/>
    <ul>
        <li>
            ذکر کامل نام شرکت (لطفا از عناوینی مانند یک شرکت معتبر نرم افزاری خودداری کنید)
            یک آگهی باید بتواند نمایانگر جدی بودن و همچنین قابل اعتماد بودن ارائه کننده‌ی آن باشد.
        </li>
        <li>ذکر آدرس و شماره تماس (کاربران این سایت از شهر‌های مختلفی حضور دارند و باید بتوانند مسافت سنجی کنند)</li>
        <li>ذکر شرایط استخدام ( برای مثال ذکر شرایط سنی، شرایط مربوط به عدم اشتغال به تحصیل در دانشگاه‌ها یا موسسات یا حتی شرایط مربوط به اخراج از دانشگاه‌ها)</li>
        <li>ذکر شرایط تخصصی متقاضیان کار (نیاز است شخص مراجعه کننده به چه مواردی تسلط داشته باشد؟)</li>
        <li>ذکر اولویت ها</li>
        <li>ذکر آدرس وب سایت شرکت</li>
    </ul>
</DntMessageBox>
