<DntMessageBox IsVisible="true" Type="AlertType.Info">
    <ul>
        <li>
            حذف یک آیتم، پیغام ارسالی را جهت دریافت کننده/ارسال کننده نیز غیرقابل دسترسی می‌کند
            و به معنای انصراف کلی است.
        </li>
        <li>
            اگر پیامی را در صندوق پیام‌های خصوصی خود مشاهده نکردید به معنای حذف/انصراف طرف مقابل است.
        </li>
        <li>
            جهت رعایت مسایل امنیتی، کلیه آیتم‌های صندوق پیام‌های خصوصی سایت آخر هر هفته به صورت خودکار حذف می‌گردند.
        </li>
    </ul>
</DntMessageBox>
