legend {
    float: none !important;
    padding: inherit;
}

.dnt-messagebox {
    overflow: hidden;
    overflow-y: auto;
    max-height: 210px;
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
    animation-duration: 0.1s;
    animation-fill-mode: both;
}

@keyframes slideOut {
    0% {
        transform: translateY(0rem);
        opacity: 1;
    }
    100% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

.slideOut {
    -webkit-animation-name: slideOut;
    animation-name: slideOut;
    animation-duration: 0.2s;
    animation-fill-mode: both;
}

.small-spinner {
    width: 1rem;
    height: 1rem;
}

.normal-spinner {
    width: 2rem;
    height: 2rem;
}

.medium-spinner {
    width: 5rem;
    height: 5rem;
}

.large-spinner {
    width: 7rem;
    height: 7rem;
}
