@using DntSite.Web.Features.Projects.Models
<LayoutView Layout="@typeof(EmailsLayout)">
    با سلام
    <br/>
    وضعیت بازخورد «<a href="@PostUrl">@Model.IssueTitle</a>» پروژه «@Model.ProjectName»
    به «@Model.StatusName» تغییر یافت. مراتب جهت اطلاع.
</LayoutView>

@code {

    [Parameter] public ApplyIssueStatusEmailModel Model { set; get; } = null!;

    private string PostUrl => Model.SiteRootUri.CombineUrl(ProjectsRoutingConstants.ProjectsDetailsBase, escapeRelativeUrl: false).CombineUrl(Model.IssueTitle, escapeRelativeUrl: true);

}
