@using DntSite.Web.Features.Projects.Models
<LayoutView Layout="@typeof(EmailsLayout)">
    با سلام
    <br/>
    راهنمای پروژه ذیل به سایت اضافه شده است. مراتبط جهت اطلاع:
    <br/>
    <div dir="rtl" style="font-family: Tahoma; ">
        <strong>عنوان: </strong>
        <br/>
        <a href="@PostUrl">@Model.Title</a>
        <br/>
        <strong>متن: </strong>
        <br/>
        @Model.Body.HtmlRaw()
    </div>
</LayoutView>

@code {

    [Parameter] public ProjectFaqEmailModel Model { set; get; } = null!;

    private string PostUrl => Model.SiteRootUri.CombineUrl(ProjectsRoutingConstants.ProjectFaqsBase, escapeRelativeUrl: false).CombineUrl(Model.ProjectId, escapeRelativeUrl: false).CombineUrl(Model.FaqId, escapeRelativeUrl: false);

}
