@if (_exportFileLocation?.IsReady == true)
{
    <a href="@_exportFileLocation.OutputPdfFileUrl"
       target="_blank"
       class="btn btn-sm @ButtonClass me-3"
       data-enhance-nav="false"
       title="@Title.ApplyRle()">
        <i class="@DntBootstrapIcons.BiFiletypePdf"></i>
        @Caption
    </a>
}
