<DntMessageBox Type="AlertType.Info" IsVisible="true">
    <span class="@DntBootstrapIcons.BiSignStop ms-2 me-1"></span>
    لطفا از ایمیل‌های «یاهو» استفاده نکنید. یاهو، دومین و آی‌پی سایت ما را مسدود کرده‌است!
</DntMessageBox>
