@using DntSite.Web.Features.UserProfiles.Models
<LayoutView Layout="@typeof(EmailsLayout)">
    با سلام
    <br/>
    به علت عدم فعالیت، اکانت شما غیرفعال گردید.
    <br/>
    <br/>
    با احترام<br/>
    <a style="direction:ltr" href="@Model.SiteRootUri">@Model.EmailSig</a>
</LayoutView>

@code {

    [Parameter] public DisabledModel Model { set; get; } = null!;

}
