<DntMessageBox IsVisible="true" Type="AlertType.Info">
    <ul>
        <li>
            هدف از قسمت پروژه‌ها در سایت، تهیه ابزاری جهت مدیریت فایل‌ها، راهنماها و بازخوردهای
            مرتبط با یک پروژه خاص است.
        </li>
        <li>
            لطفا تنها زمانی اقدام به ایجاد یک پروژه جدید نمائید که قصد دارید از بازخورد مداوم
            مصرف کنندگان برخوردار شوید و همچنین این کار در طول زمان مرتبا به روز خواهد شد.
            <br/>
            اگر قصد به روز رسانی مداوم کار خود را ندارید بهتر است به ذکر و ارسال یک اشتراک/خبر جدید و یا مطلب جدید
            بسنده نمائید.
        </li>
        <li>
            قسمت ایجاد پروژه جدید، جهت مدیریت همفکری انجام کارهای گروهی نیز می‌تواند مورد استفاده
            قرار گیرد. برای مثال تشکیل یک تیم ترجمه موضوعی خاص و مدیریت کارهای مرتبط به آن.
        </li>
        <li>ذکر لوگو یا آیکون اختیاری است. </li>
        <li>
            در قسمت توضیحات پروژه می‌توان کاربردها و توانمندی‌های پروژه را به صورت خلاصه نامبرد.
            قرار دادن تصاویری از پروژه یا کاربردهای آن عموما در تبلیغ پروژه بسیار مؤثر هستند.
        </li>
        <li>
            ذکر آدرس مخزن کد اختیاری است. در سایت امکان آپلود فایل‌های نهایی پروژه در قسمت فایل‌های
            مرتبط با هر پروژه وجود دارد؛ اما اگر از هاست‌هایی مانند گیت‌هاب و امثال آن نیز جهت
            نگهداری مخزن کد استفاده می‌کنید می‌توانید آدرس آن‌ها را نیز ذکر نمائید.
        </li>
        <li>
            برای آپلود فایل‌های پروژه در سایت، پس از ایجاد پروژه جدید، به صفحه فایل‌های آن وارد
            شوید. در اینجا مدیر پروژه دسترسی آپلود فایل‌های پروژه را خواهد داشت. به همین ترتیب
            در مورد ایجاد راهنمای جدید، به صفحه مرتبط وارد شوید.
        </li>
        <li>
            مجوز پروژه می‌تواند تجاری یا سورس باز باشد؛ اما ذکر آن الزامی است تا کاربر نهایی
            تکلیف مشخصی در نحوه برخورد با آن داشته باشد.
            <br/>
            اگر از مجوزهای سورس باز استفاده می‌کنید، برای نمونه:
            <br/>
            GPL: به این معنا است که استفاده کننده حتما باید سورس کار خود را نیز ارائه نماید.
            <br/>
            LGPL: در این حالت تنها استفاده از فایل‌های باینری پروژه در هر نوع پروژه تجاری یا
            سورس بازی، بدون محدودیت آزاد است.
            <br/>
            MIT: تقریبا هیچ نوع محدودیت خاصی را اعمال نمی‌کند و به ذکر یک تشکر بسنده خواهد کرد!
        </li>
        <li>
            لیست وابستگی‌های پروژه به معنای کتابخانه‌های جانبی است که در تولید پروژه جاری سهیم
            بوده‌اند.
        </li>
        <li>
            اگر در خارج از سایت کنونی مطالب یا مقالات مرتبطی در مورد پروژه جاری وجود دارند،
            می‌توان لینک آن‌ها را در قسمت «لیست مقالات و مطالب مرتبط» مطرح کرد.
        </li>
        <li>
            در قسمت لیست همکاران می‌توان نام افراد دیگری را که در تهیه پروژه نقش داشته‌اند ذکر
            کرد. الزامی ندارد که این افراد عضو سایت جاری باشند.
        </li>
        <li>
            برای تهیه مستندات و ارائه مقالات آموزشی بهتر است از امکانات ارسال مطلب در سایت استفاده
            شود. سپس با ذکر گروه‌هایی مرتبط، کاربران به سادگی می‌توانند به مقالات مورد نظر
            شما در سایت دست یابند و بین مقالات سایت و پروژه‌ها ارتباطی منطقی را برقرار نمایند.
        </li>
    </ul>
</DntMessageBox>
