<DntMessageBox IsVisible="true" Type="AlertType.Info">
    <ul>
        <li>
            اگر قصد دارید یک سری مطالب به هم مرتبط با سطح دسترسی عمومی را در سایت ارائه دهید، بهتر است آن‌را به
            شکل یک دوره باز در اینجا تعریف کنید.
        </li>
        <li>
            اگر گزینه فعال شدن دوره را انتخاب کنید، این دوره در قسمت عمومی سایت جهت اطلاع کاربران
            ظاهر خواهد شد. می‌توانید یک دوره را ایجاد، مطالب و کارهای آن را تکمیل کنید و سپس
            این گزینه را انتخاب نمائید. برای دسترسی به دوره‌ی تعریف شده‌ای که هنوز فعال نشده
            است از قسمت دوره‌های من
            در منوی اختیارات سیستم استفاده کنید.
        </li>
        <li>
            پس از پایان تعریف دوره، در کنار گزینه ویرایش، دو دکمه افزودن سرفصل‌ها و مطالب اصلی
            به همراه افزودن مطالب کمکی مانند تمرین‌ها، مقالات اضافی دوره، فایل‌های کمکی و امثال
            آن قرار دارند.
        </li>
        <li>سر فصل جدید: موضوعات اصلی دوره در آن قرار خواهند گرفت. </li>
        <li>
            مطالب تکمیلی: اگر نکته کوچکی مدنظر بود یا اگر در بین دوره کسی سؤالی پرسید و می‌شد
            به صورت یک مطلب کوتاه عمومی آن‌را توضیح داد.
        </li>
    </ul>
</DntMessageBox>
