<article class="hentry" itemprop="blogPost" itemtype="http://schema.org/BlogPosting" itemscope="">
    <div class="card mt-@MarginTop shadow-sm" @attributes="@AdditionalAttributes">
        @if (Header is not null)
        {
            <div class="card-header entry-title shadow-sm d-flex flex-row flex-wrap align-items-center" itemprop="headline_name">
                <button data-dnt-collapse="true" class="btn border btn-outline-secondary rounded-5 btn-sm me-1">
                    <i class="@DntBootstrapIcons.BiChevronDown"></i>
                </button>
                @Header
            </div>
        }
        @if (Body is not null)
        {
            <div class="card-body entry-content" itemprop="articleBody">
                @Body
            </div>
        }
        @if (ChildContent is not null)
        {
            @ChildContent
        }
        @if (Footer is not null)
        {
            <div class="card-footer byline bg-transparent">
                @Footer
            </div>
        }
    </div>
</article>
