<div class="form-check form-switch border rounded-pill">
    <div class="mx-2">
        <label for="lightSwitch">
            <span id="lightSwitch-icon" class="@DntBootstrapIcons.BiSun me-1"></span>
        </label>
        <input class="form-check-input" type="checkbox" id="lightSwitch"/>
    </div>
</div>
