.small-spinner {
    width: 1rem;
    height: 1rem;
}

.normal-spinner {
    width: 2rem;
    height: 2rem;
}

.medium-spinner {
    width: 5rem;
    height: 5rem;
}

.large-spinner {
    width: 7rem;
    height: 7rem;
}
