<form class="row ms-1 me-1 mt-4" role="search">
    <div class="input-group">
        <input class="form-control" type="search" autocomplete="off" placeholder="جستجو ..."/>
        <button class="btn btn-outline-secondary" type="button" id="button-addon1">
            <span class="@DntBootstrapIcons.BiSearch"></span>
        </button>
    </div>
</form>
