<div class="d-flex">
    <div class="d-flex w-100 justify-content-center align-self-center">
        <div class="spinner-border @Color.Value m-@Margin @Size.Value" role="status">
            <span class="visually-hidden">@LoadingText</span>
        </div>
    </div>
</div>
