<DntMessageBox IsVisible="true" Type="AlertType.Info">
    <ul>
        <li>
            با ایجاد یک پیشنهاد جدید می‌توانید موضوعی را جهت مشارکت اعضاء و تبدیل شدن آن به یک یا چند مقاله جدید در سایت، مطرح نمائید.
        </li>
        <li>طرح یک پیشنهاد الزاما به معنای مشارکت پیشنهاد دهنده در تکمیل آن نیست.</li>
        <li>اگر علاقمند به مشارکت در تکمیل موضوعی هستید، در ذیل هر پیشنهاد، می‌توانید مشارکت خود را اعلام نمائید.</li>
        <li>هربار تنها در یک پیشنهاد می‌توانید مشارکت داشته باشید.</li>
        <li>اگر تا پایان مدت زمان تخمینی خود موفق به تکمیل پیشنهاد نشدید، مشارکت شما به صورت خودکار لغو و امکان انتخاب دیگران میسر خواهد شد. البته پس از آن باز هم می‌توانید پیشنهاد خود را تمدید کنید.</li>
        <li>لطفا موضوعی را پیشنهاد دهید که حداکثر در قالب یک مطلب بتوان به آن پرداخت و آن‌را تمام کرد. برای مثال بازنویسی دوره‌ای خاص یا موضوعی که پرداختن به آن نیاز به تهیه‌ی یک کتاب کامل را داشته باشد، عملا پیگیری نخواهد شد.</li>
        <li>
            لطفا اگر پیشنهادی در مورد سایت دارید (پیشنهاد عمومی) آن‌را از طریق «ارسال پیام خصوصی» مطرح کنید.
        </li>
    </ul>
</DntMessageBox>
