@if (_customSidebar is { IsPublic: true } && !string.IsNullOrWhiteSpace(_customSidebar.Description))
{
    <div class="list-group-item list-group-item-action d-flex align-items-center border-0 rounded" dir="rtl">
        @_customSidebar.Description.HtmlRaw()
    </div>
}
