@if (_customSidebar is { IsPublic: true } && !string.IsNullOrWhiteSpace(_customSidebar.Description))
{
    <div class="mt-3 mb-3 me-3 ms-3 card shadow-sm" dir="rtl">
        <div class="ms-2 mt-2 me-2">
            @_customSidebar.Description.HtmlRaw()
        </div>
    </div>
}
