@font-face {
    font-family: Samim;
    src: url("../../../fonts/Samim.eot");
    src: url("../../../fonts/Samim.eot?#iefix") format("embedded-opentype"),
    url("../../../fonts/Samim.woff2") format("woff2"),
    url("../../../fonts/Samim.woff") format("woff"),
    url("../../../fonts/Samim.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: Samim;
    src: url('../../../fonts/Samim-Bold.eot');
    src: url('../../../fonts/Samim-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/Samim-Bold.woff2') format('woff2'),
    url('../../../fonts/Samim-Bold.woff') format('woff'),
    url('../../../fonts/Samim-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
	font-family: SamimFD;
	src: url('../../../fonts/Samim-FD.eot');
	src: url('../../../fonts/Samim-FD.eot?#iefix') format('embedded-opentype'),
	url('../../../fonts/Samim-FD.woff2') format('woff2'),
	url('../../../fonts/Samim-FD.woff') format('woff'),
	url('../../../fonts/Samim-FD.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
    font-family: JetBrainsMono;
    src: url("../../../fonts/JetBrainsMono-Regular.woff2") format("woff2"),
    url("../../../fonts/JetBrainsMono-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: JetBrainsMono;
    src: url('../../../fonts/JetBrainsMono-Bold.woff2') format('woff2'),
    url('../../../fonts/JetBrainsMono-Bold.ttf') format('truetype');
    font-weight: bold;
}


.useSamimFD {
	font-family: "SamimFD";
	font-weight: normal;
}


body {
    font-size: 14px;
    font-family: 'Samim', 'JetBrainsMono', Tahoma;
}

html {
    scrollbar-3dlight-color: #eaeaea;
    scrollbar-arrow-color: black;
    scrollbar-darkshadow-color: #eaeaea;
    scrollbar-face-color: #cfcfcf;
    scrollbar-highlight-color: #cfcfcf;
    scrollbar-shadow-color: #cfcfcf;
    scrollbar-track-color: #eaeaea;
}

a[href*='//'] {
    border-bottom: 1px dotted rgb(226, 229, 248);
}

.titles {
    font-weight: bold;
}

img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

code {
    padding: 1px 4px;
    border: 1px solid #e1e1e8;
    color: #d14;
    background-color: #f7f7f9;
    border-radius: 6px;
}

pre {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    direction: ltr;
}

#userComments ul {
    list-style: none outside none;
}

#userComments ul, ol {
    padding: 3px 18px 3px 0;
}

#userComments li {
    padding-top: 3px;
}

.replyInfo {
    background-color: #F7F7F7;
    border: solid 1px #e2e0d8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 4px 8px 4px 4px;
    overflow: hidden;
    word-wrap: break-word;
    font-size: 10pt;
    margin-bottom: 7px;
}

.main {
    background-color: #f7f7f9;
    border: solid 1px #e6e5e1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 22px;
    overflow: hidden;
    word-wrap: break-word;
    box-shadow: 0 1px 3px #DBDBD4;
    margin-bottom:10px;
    margin-top:15px;
}

.main > h1 {
    font-weight: bold;
    display: inline;
    font-size: 14px;
}

.postBody {
    border: solid 1px #e6e5e1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 6px 15px 5px 15px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.mt5 {
  margin-top: 5px;
}

a:link, a:visited {
    text-decoration: none;
    color: #40889f;
}

a:active {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
    color: #ff5a00;
}

pre, code {
    font-family: 'JetBrainsMono', 'Samim'  !important;
    white-space: pre-wrap;
    overflow: auto;
    word-break: break-word;
    direction: ltr;
    text-align: left;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}


.ql-container {
    font-family: 'Samim', 'JetBrainsMono', Tahoma !important;
    font-size: inherit !important;
}

.ql-code-block-container {
    direction: ltr !important;
}

.ql-direction-ltr {
    direction: ltr !important;
}

.ql-align-left {
    text-align: left !important;
}

.hljs {
    border-radius: 4px;
}

blockquote {
  background: #f9f9f9;
  border-right: 10px solid #ccc;
  padding: 0.5em 10px;
  border-radius:5px;
  margin-right: 10px;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;  
  vertical-align: middle;
}

blockquote p {
  display: inline;
}
