<footer dir="ltr"
        class="d-flex flex-wrap justify-content-between align-items-center py-2 bg-light-subtle shadow-sm border-top border-body">
    <div class="me-2 col-md-4 d-flex align-items-center">
        <span class="mb-3 mb-md-0 text-muted">
            <DntToPersianNumbers Value="_copyrightMessage"/>
        </span>
    </div>
    <div class="ms-2 nav col-md-4 justify-content-end list-unstyled d-flex" data-permanent>
        <DntLightSwitch/>
        <DntBackToTopButton/>
    </div>
</footer>
