<DntMessageBox Type="AlertType.Info" IsVisible="true">
    <ul>
        <li>
            هدف از قسمت پیش نویس، ارسال مقاله علمی است و قسمت اشتراک‌ها برای ارسال لینک‌های
            مورد علاقه در نظر گرفته شده است.
            لطفا اگر مطلب مد نظر بیشتر خبری یا طرح لینک است، از این قسمت استفاده کنید.
        </li>
        <li>
            نیاز است متن تهیه شده در notepad کپی و فرمت آن گرفته شود. سپس در ادیتور وب کپی
            و در اینجا فرمت نهایی شود.

            بهترین روش برای استفاده از ادیتورهای آنلاین، کپی متن مورد نظر در notepad و سپس
            کپی متن ساده، از آن به درون ادیتور فوق است. به این ترتیب فرمت اولیه متن از دست خواهد
            رفت و فرصت خواهید داشت تا متن را بر اساس یک ادیتور استاندارد مبتنی بر html سر فرصت
            ویرایش کنید. بدترین کار کپی متن از Word و امثال آن به ادیتورهای آنلاین است؛ چون
            Word انبوهی از تگ‌های اضافی را به متن شما اضافه می‌کند و همچنین کار ویرایش آنلاین
            آن هم مشکل می‌شود.

        </li>
        <li>
            لطفا کدهای مطالب خود را از طریق دکمه‌ی ارسال کد نوار ابزار ادیتور سایت وارد نمائید و از ارسال تصاویر، بجای کدها، خودداری کنید. تصاویر امکان جستجو و پیگیری سریع را ندارند.
        </li>
        <li>
            خواهشمند است از طرح مباحث «عمومی»، غیرفنی و غیرمرتبط با موضوع سایت خودداری فرمائید.
        </li>
        <li>
            کمی متن باید بیشتر باشد ... کمی توضیح در مورد کدها لازم است.
        </li>
        <li>
            اگر نیاز به تایپ بیش از یک گروه وجود دارد، پس از ورود مورد اول، دکمه
            Enter را فشار دهید.
        </li>
        <li>
            عکس قرار داده شده باید در سایت آپلود شود. خود ادیتور سایت این امکان را دارد. ممکن
            است روزی دیگر، عکس لینک داده شده از یک سایت دیگر، حذف شود یا با عکس دیگری، جایگزین
            گردد؛ که به صلاح نیست.
        </li>
        <li>
            مطلب خودتان را لطفا به صورت PDF در این سایت قرار ندهید. روش ما انتشار متن از طریق
            ادیتور سایت است. یعنی باید متن قابل خواندن و جستجو باشد.
        </li>
        <li>
            لطفا رسمی بنویسید و از افعال محاور‌ه‌ای استفاده نکنید.
        </li>
        <li>
            لطفا در مقالات ارسالی، سلام و خداحافظی نکنید.
        </li>
        <li>
            لطفا تا حد امکان مثال خود را به صورت یک پروژه قابل اجرا به مطلب پیوست نمائید.
            به این ترتیب امکان باز تولید کار شما به سادگی فراهم خواهد شد. نیازی نیست حتما از
            بانک اطلاعاتی استفاده کنید. بهتر است از لیست‌های جنریک برای شبیه سازی درون حافظه‌ای
            رکوردها استفاده نمائید (جهت سهولت اجرای دمو در هر سیستمی با هر تنظیماتی). لطفا پوشه‌های
            bin، obj و همچنین packages پروژه‌های پیوستی را پیش از آپلود حذف کنید. نیازی به ارسال
            فایل‌های باینری نیست.
        </li>
        <li>
            لطفا برای نمایش صحیح کدهای ارسالی، از دکمه کد موجود در نوار ابزار ادیتور فوق کمک
            بگیرید تا نمایش چپ به راست به همراه Syntax Highlighting آن به نحو صحیحی صورت گیرد.
        </li>
        <li>
            دسترسی ویرایش مطالب تنها برای 7 روز وجود دارد. به این علت که کاربران از تغییرات
            احتمالی شما به علت عدم مراجعه مطلع نخواهند شد. بنابراین بهتر است در این موارد یک
            مطلب متمم را منتشر کرده یا به صورت نظر تغییرات را شرح دهید.
        </li>
        <li>
            لطفا تا حد امکان از گروه‌های موجود استفاده کنید. اگر نیاز است از برچسب جدیدی
            استفاده شود، حتما از یک برچسب گروه کلی مرتبط نیز استفاده نمائید تا ردیابی مطلب ارسالی
            توسط خوانندگان ساده شود.
        </li>
        <li>
            نیازی نیست تا یک فایل یا تصویر را چندین‌بار آپلود کنید؛ لیست تمامی تصاویر ارسالی
            و تمامی فایل‌های ارسالی
            همواره از طریق منوی اختیارات، قابل دسترسی هستند.
        </li>
        <li>لطفا عین مطالب سایت خودتان را در اینجا کپی نکنید. گوگل برای این نوع کپی کاری‌ها جریمه درنظر می‌گیرد و رتبه‌ی سایت را کاهش می‌دهد. لطفا لینک این نوع مطالب را در قسمت اشتراک‌ها مطرح کنید.</li>
    </ul>
</DntMessageBox>
