@using DntSite.Web.Features.News.Models
<LayoutView Layout="@typeof(EmailsLayout)">
    با سلام
    <br/>
    پیش نویس ارسالی شما به یک <a href="@PostUrl">لینک اشتراکی</a> تبدیل گشت.
</LayoutView>

@code {

    [Parameter] public ConvertedToLinkModel Model { set; get; } = null!;

    private string PostUrl => Model.SiteRootUri.CombineUrl(NewsRoutingConstants.News, escapeRelativeUrl: false);

}
