@using DntSite.Web.Features.Courses.Models
<LayoutView Layout="@typeof(EmailsLayout)">
    با سلام
    <br/>
    گروه دوره ذیل ویرایش گردید:
    <br/>
    <div align="center" dir="rtl" style="font-family: Tahoma; ">
        نام قدیمی: @Model.OldName
        <br/>
        نام جدید: @Model.NewName
        <br/>
    </div>
</LayoutView>

@code {

    [Parameter] public CourseTagEditedModel Model { set; get; } = null!;

}
