@using DntSite.Web.Features.Courses.Models
<LayoutView Layout="@typeof(EmailsLayout)">
    با سلام
    <br/>
    مطلب دوره جدید ذیل به سایت اضافه/حذف/ویرایش شده است:
    <br/>
    <br/>
    <div align="right" dir="rtl" style="font-family: Tahoma; ">
        <strong>عنوان</strong>: @Model.Title
        <br/>
        <strong>مطلب</strong>: @Model.Body.HtmlRaw()
        <br/>
        <br/>
        برای مشاهده آن
        <a href="@PostUrl">
            اینجا
        </a> کلیک نمائید.
    </div>
</LayoutView>

@code {

    [Parameter] public NewCourseTopicEmailModel Model { set; get; } = null!;

    private string PostUrl => Model.SiteRootUri.CombineUrl(CoursesRoutingConstants.CoursesTopicBase, escapeRelativeUrl: false).CombineUrl(string.Create(CultureInfo.InvariantCulture, $"/{Model.CId}/{Model.PmId}"), escapeRelativeUrl: false);

}
