@using DntSite.Web.Features.Advertisements.Models
<LayoutView Layout="@typeof(EmailsLayout)">
    با سلام
    <br/>
    آگهی جدید ذیل به سایت اضافه/حذف/ویرایش شده است:
    <br/>
    <br/>
    <div align="right" dir="rtl" style="font-family: Tahoma; ">
        <strong>عنوان</strong>: @Model.Title
        <br/>
        <strong>مطلب</strong>: @Model.Body.HtmlRaw()
        <br/>
        <br/>
        برای مشاهده آن
        <a href="@PostUrl">
            اینجا
        </a> کلیک نمائید.
        <br/>
    </div>
</LayoutView>

@code {

    [Parameter] public WriteAdvertisementEmailModel Model { set; get; } = null!;

    private string PostUrl => Model.SiteRootUri.CombineUrl(AdvertisementsRoutingConstants.AdvertisementsDetailsBase, escapeRelativeUrl: false).CombineUrl(Model.PmId, escapeRelativeUrl: true);

}
