@attribute [Route(CommonRoutingConstants.CatchAllPhpRequests)]
@attribute [Route(CommonRoutingConstants.CatchWordPressRequests1)]
@attribute [Route(CommonRoutingConstants.CatchWordPressRequests2)]

<DntSitePageTitle Group="خطاها" PageTitle="خطایی رخ داده‌است" CurrentPage="@null"/>

<DntMessageBox Type="AlertType.Info" IsVisible="true">
    <span class="@DntBootstrapIcons.BiSignStop ms-2 me-1"></span>
    این سایت با PHP تهیه نشده‌است!
    <a dir="ltr" target="_blank" data-enhance-nav="false" href="https://github.com/VahidN/DntSite">
        اطلاعات بیشتر
    </a>
</DntMessageBox>
